/* CAROUSEL */
.container-carousel {
    position: absolute;
    top: 0;
    z-index: -1;
    background: linear-gradient(to bottom, #333333, #ffffff);
    height: 100vh;
    min-height: 65vh;
    width: 100vw;
}

.carousel-wrapper {
    overflow: hidden;
    position: relative;
    width: 100vw;
    margin-top: 3rem;
    padding-bottom: 2rem;
}

.carousel-inner {
    cursor: grab;
    user-select: none;
    height: 55vh;
    will-change: transform;
}

.carousel-inner:active {
    cursor: grabbing;
}

/* ocultar scrollbars */
.carousel-inner::-webkit-scrollbar {
    display: none;
}

/* CARDS */
.car-card {
    position: relative;
    width: 30rem;
    height: 25rem;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    flex-shrink: 0;
    cursor: pointer;
}

.car-card:hover {
    transform: scale(0.95);
}

.car-img-wrapper {
    position: relative;
    flex: 1 0 55%;
    overflow: hidden;
    border-radius: 0.75rem;
}

.car-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.price {
    position: absolute;
    bottom: 0px;
    right: 10px;
    background: rgba(170, 270, 170, 0.8);
    padding: 4px 8px;
    border-radius: 0.5rem;
    font-weight: bold;
    z-index: 3;
}

.card-inner {
    flex: 1 0 45%;
    padding-top: 0.5rem;
}

.text-description {
    font-size: 1rem;
    font-weight: bold;
    color: #132d4060;
    width: 12rem;
    transition: 0.5s;
    justify-content: center;
}

.text-description:hover {
    border: 1px solid #132d40;
    border-radius: 50px;
    background-color: #7a7a7a50;
    transition: 0.5s;
    transform: scale(1.1);
}

.blur-spot {
    position: absolute;
    width: 220px;
    height: 220px;
    background: radial-gradient(circle, rgba(0, 123, 255, 1), transparent 60%);
    filter: blur(50px);
    pointer-events: none;
    z-index: 1;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .container-carousel {
        min-height: 100vh;
    }

    .car-card {
        width: 20rem;
    }

    .car-img-wrapper {
        flex: 1 0 45%;
    }

    .card-inner {
        flex: 1 0 55%;
    }

    .text-description {
        flex-direction: column;
        width: 10rem;
        font-size: 0.9rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: 0.5s;
        justify-content: center;
    }

    .price {
        position: absolute;
        bottom: -10px;
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .car-card {
        width: 20rem;
        height: 20rem;
    }

    .car-img-wrapper {
        flex: 1 0 40%;
    }

    .card-inner {
        flex: 1 0 60%;
    }
}