.container-reservas {
    position: absolute;
    top: 0;
    z-index: -1;
    background: linear-gradient(to bottom, #333333, #ffffff);
    height: 95vh;
    width: 100%;
}

.my-bookings-container {
    margin-top: 8rem;
}

.empty-bookings {
    font-size: 1.2rem;
    color: #333;
    font-weight: semi-bold;
}

.title-bookings {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.3em;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.subtitle-bookings {
    color: #333;
    font-weight: 600;
    margin-bottom: 2rem;
}

.bookings-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.booking-card {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 5);
    padding: 1rem;
    transition: transform 0.3s;
}

.booking-card:hover {
    transform: translateY(-5px);
}

.booking-img {
    width: 100%;
    max-width: 250px;
    height: 180px;
    object-fit: contain;
    margin: 0 auto;
}

.booking-info h5 {
    margin-top: 1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #333;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .container-reservas {
        height: 100vh;
    }

    .my-bookings-container {
        margin-top: 7rem;
        padding: 0 30px;
        text-align: center;
    }

    .title-bookings {
        font-size: 2rem;
        margin-bottom: 1rem;
        letter-spacing: 0.2em;
    }

    .subtitle-bookings {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .booking-card {
        width: auto;
        height: auto;
    }

    .booking-img {
        width: 100%;
        max-width: 200px;
        height: 150px;
    }

    .booking-info h5 {
        font-size: 1rem;
        margin-top: 0;
    }

    .booking-info p {
        font-size: 0.9rem;
    }

    .text-myBookings {
        font-size: 0.9rem;
    }

    .btn-bookings {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .container-reservas {
        height: 100vh;
    }

    .my-bookings-container {
        margin-top: 6rem;
    }

    .title-bookings {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .subtitle-bookings {
        font-size: 0.9rem;
    }

    .booking-card {
        width: auto;
        height: auto;
    }

    .booking-img {
        width: 100%;
        max-width: 150px;
        height: 120px;
    }

    .booking-info h5 {
        font-size: 1rem;
        margin-top: 0;
    }

    .booking-info p {
        font-size: 0.9rem;
    }

    .text-myBookings {
        font-size: 0.7rem;
    }

    .btn-bookings {
        font-size: 0.7rem;
    }
}