.nav {
    margin: 20px 100px;
    color: rgb(200, 200, 200);
}

.nav-logo {
    font-size: 32px;
    font-weight: bold;
    font-family: Outfit;
    letter-spacing: 1px;
    transition: 0.5s;
}

.nav-logo:hover {
    color: black;
    transition: 0.5s;
}

.nav-menu {
    list-style: none;
    font-size: 16px;
    gap: 4em;
    transition: 0.5s;
}

.nav-menu li:hover {
    color: rgb(0, 0, 0);
    transition: 0.5s;
    transform: scale(1.1);
    text-decoration: underline;
    cursor: pointer;
}

.nav-contact {
    background-color: rgba(255, 255, 255, 0.250);
    border-radius: 50px;
    padding: 8px 20px;
    transition: 0.5s;
}

.nav-icon {
    font-size: 24px;
    transition: 0.5s;
    color: rgb(200, 200, 200);
}

.nav-icon:hover {
    font-size: 24px;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}

.btn-logout {
    color: rgb(200, 200, 200);
    background-color: rgba(255, 0, 0, 0.4);
    border-radius: 50px;
    padding: 8px 20px;
    transition: 0.5s;
}

.btn-logout:hover {
    color: rgb(0, 0, 0);
    transition: 0.5s;
    transform: scale(1.1);
    text-decoration: underline;
    background-color: rgba(255, 36, 36, 0.8);
}