.login-container {
    position: absolute;
    top: 0;
    z-index: -1;
    background: linear-gradient(to bottom, #333333, #ffffff);
    height: 95vh;
    width: 100%;
}

.login-form {
    margin-left: 35vw;
    margin-top: 10rem;
    background: white;
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 450px;
}

.login-form h2 {
    margin-bottom: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    letter-spacing: 0.2em;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.login-form input {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.login-form button {
    width: 100%;
    padding: 0.6rem;
    background: #aaaaaa;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.login-form button:hover {
    background: #333;
}

.image-login {
    margin-top: 1.5rem;
    margin-left: 20vw;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .login-container {
        padding: 0 40px;
        height: 100vh;
    }

    .login-form {
        margin-top: 15rem;
    }

    .image-login {
        margin-top: 4rem;
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .login-container {
        height: 100vh;
        padding: 0 30px;
    }

    .login-form {
        margin-top: 10rem;
        margin-left: 0;
        width: auto;
    }
}